<style>
.projects-container .row .clearfix .layout .layout-top-middle{
  box-shadow: -1px 1px 20px 6px rgb(233, 13, 13);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.projects-container .row .clearfix .layout .layout-top-middle:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

</style>

<div class="container projects-container">
  <h3>{{ site.projects_title | default: "Projects" }}</h3>
  {% for project in site.data.projects %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
  {% endfor %}
</div>
